﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Forum</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    
    <style>
         *{box-sizing:border-box}
    body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
    @@keyframes loader {
    0% {transform:rotate(-45deg)}
    50%{transform:rotate(-135deg)}
    100%{transform:rotate(-225deg)}}
    @@keyframes span-1 {
    0% {transform:translate(0);}
    50%{transform:translate(-50px, 0);border-color:#EE4D68}
    100%{transform:translate(0);}}
    @@keyframes span-2 {
    0%{transform:translate(0);}
    50%{transform:translate(50px, 0);border-color:#875678}
    100%{transform:translate(0);}}
    @@keyframes span-3 {
    0%{transform:translate(0);}
    50%{transform:translate(0, -50px);border-color:#FF9900}
    100%{transform:translate(0);}}
    @@keyframes span-4 {
    0%{transform:translate(0);}
    50%{transform:translate(0, 50px);border-color:#00E4F6}
    100%{transform:translate(0);}}
    .loader {
    width: 50px;
    height: 50px;
    position: relative;
    animation: loader 2s infinite ease-in-out;
    }
    .loader span {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    border: 4px solid #0B1B48;
    }
    .loader span:nth-child(1) {
    animation: span-1 2s ease-in-out infinite;
    }
    .loader span:nth-child(2) {
    animation: span-2 2s ease-in-out infinite;
    }
    .loader span:nth-child(3) {
    animation: span-3 2s ease-in-out infinite;
    }
    .loader span:nth-child(4) {
    animation: span-4 2s ease-in-out infinite;
    }

    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                      <a asp-controller="Forum" asp-action="AllMessages"   data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
                        AllMessages
                    </a>
                    </li>
                    <li>
                        <a  asp-controller="Forum" asp-action="Message"  data-ajax="true" data-ajax-mode="replace" method="get"
                            data-ajax-update="#update">
                            CreateMessage
                        </a>
                    </li>
                  
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        
        <hr />
        <footer>
            <p>&copy; 2018 - Forum</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    </environment>
        <environment exclude="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>


    @RenderSection("Scripts", required: false)
</body>
</html>
