﻿@model Forum.Web.Models.MessageListViewModel
@using PagedList.Core.Mvc;

@{
    ViewData["Title"] = "Home Page";
}
<div class="col-lg-8">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <a asp-action="AllMessages" asp-route-sortParam="@ViewBag.NameSort"
                           data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
                            User Name
                        </a>
                    </th>
                    <th>
                        <a asp-action="AllMessages" asp-route-sortParam="@ViewBag.DateSort"
                           data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
                            Date
                        </a>

                    </th>

                    <th>Topic</th>
                    <th>Category</th>
                    <th>Message</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var message in Model.PaginatedMessageList.GetPaginatedMessageList())
                {
                    <tr>
                        <td>@message.UserName</td>
                        <td>@message.Date</td>
                        <td>@message.MessageTopic</td>
                        <td>@message.MessageСategory</td>
                        <td><textarea>@message.MessageText</textarea></td>
                        <td>
                            <a class="btn btn-danger" asp-action="DeleteMessage" asp-route-id="@message.Id" asp-route-page="@Model.GetPageNumber()" asp-route-sortParam="@ViewData["CurrentSort"]" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">Delete</a>
                        </td>
                        <td>
                            <a class="btn btn-default" asp-action="UpdateMessage" asp-route-id="@message.Id" data-ajax="true" data-ajax-method="get" data-ajax-update="#update">Update</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />

        @{
            var prevDisabled = !Model.PaginatedMessageList.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.PaginatedMessageList.HasNextPage ? "disabled" : "";
        }

        <a asp-action="AllMessages"
           asp-route-sortParam="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PaginatedMessageList.PageNumber - 1)"
           class="btn btn-default @prevDisabled"
           method="get"
           data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
            Previous
        </a>

        <a asp-action="AllMessages"
           asp-route-sortParam="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PaginatedMessageList.PageNumber + 1)"
           class="btn btn-default @nextDisabled"
           method="get"
           data-ajax="true" data-ajax-method="get" data-ajax-update="#update">
            Next
        </a>

    </div>
</div>