﻿@using Forum.Web.Models
@model Forum.Web.Models.MessageViewModel
@{
    ViewData["Title"] = "Message";
}

<h2>@ViewData["Message"]</h2>

<form asp-antiforgery="true"  asp-action="Message" asp-route-messageAction="@ViewBag.MessageAction" data-ajax="true" data-ajax-method="post" data-ajax-update="#update">
   
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (Model != null)
    {
        <div class="form-group">
            <input asp-for="@Model.Id" type="hidden" class="form-control"/>
            <span asp-validation-for="@Model.Id" class="text-danger"></span>
        </div>
    }
        <div class="form-group">
            <label asp-for="@Model.UserName" ></label>
            <input asp-for="@Model.UserName" class="form-control"/>
            <span asp-validation-for="@Model.UserName"  class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Date">Date</label>
            <input asp-for="@Model.Date" class="form-control" type="text"/>
            <span asp-validation-for="@Model.Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.MessageTopic">MessageTopic</label>
            <input class="form-control" asp-for="@Model.MessageTopic"/>
            <span asp-validation-for="@Model.MessageTopic" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.MessageСategory">MessageСategory</label>
            <input class="form-control" asp-for="@Model.MessageСategory"/>
            <span asp-validation-for="@Model.MessageСategory" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.MessageText">Text Area</label>
            <textarea class="form-control" rows="10" asp-for="@Model.MessageText"></textarea>
            <span asp-validation-for="@Model.MessageText" class="text-danger"></span>
        </div>
      
    <button type="submit">Clik Me to send Message</button>
</form>