﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<script src="js/site.min.js"></script>
<div>
    <h1>Message delivered</h1>
    
</div>