﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Welcom to our Forum</h1>
<div  class="loader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
  
